.div-botonesControl {
  width: 371px;
  height: 70px;
  border-radius: 1rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 0.2rem;
}

.controls button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btnVerde {
  background-color: rgb(91, 206, 91);
}

.btnRojo {
  background-color: #f00;
}

.btnA {
  background-color: rgb(238, 226, 55);
}

.semaforo-Base {
  margin: auto;
  margin-top: 1rem;
  width: 180px; /* <-- más ancho */
  height: 370px; /* ligeramente más alto */
  background-color: #2b2b2b;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4); /* efecto sutil */
  border: 2px solid #444;
}

.luz {
  width: 85px; /* un poco más anchas */
  height: 85px;
  border-radius: 50%;
  background-color: #555;
  border: 3px solid #222;
}

.luz.rojo {
  background-color: #f00;
}

.luz.amarillo {
  background-color: #ff0;
}

.luz.verde {
  background-color: #0f0;
}

.luz.activo {
  box-shadow: 0 0 20px #f8f8f8, 0 0 40px currentColor;
}

/* Fondo */
body {
  background-color: rgb(130, 163, 115);
  font-family: sans-serif;
}
